#app-music {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(imgs/bg1.jpeg);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --themeColor: #29abd3;
}
@keyframes running {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#app-music .show {
  display: block;
}
#app-music .hidden {
  display: none;
}
#app-music #app-music-box {
  border-radius: 10px;
  width: 800px;
  height: 600px;
  border: 1px solid var(--themeColor);
}
#app-music #app-music-box .search-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: var(--themeColor);
  padding: 5px;
}
#app-music #app-music-box .search-bar .search-bar-left {
  color: white;
  font-weight: 300;
}
#app-music #app-music-box .search-bar .search-bar-input input {
  width: 300px;
  height: 30px;
  border: 0px;
  border-radius: 20px;
  text-indent: 15px;
  background: url(imgs/zoom.png) 270px center no-repeat white;
}
#app-music #app-music-box .app-music-content {
  height: 480px;
  width: 800px;
  display: flex;
  border-bottom: 1px solid var(--themeColor);
  background-color: rgba(255, 255, 255, 0.5);
}
#app-music #app-music-box .app-music-content .app-music-content-left {
  height: 100%;
  width: 200px;
  border-right: 1px dashed var(--themeColor);
  overflow-x: hidden;
  overflow-y: scroll;
}
#app-music #app-music-box .app-music-content .app-music-content-left .app-music-content_list .app-music-content_list_item {
  height: 40px;
  display: flex;
  align-items: center;
}
#app-music #app-music-box .app-music-content .app-music-content-left .app-music-content_list .app-music-content_list_item .item-audio {
  width: 25px;
  height: 25px;
  background: url(imgs/table.png) -18px -18px;
}
#app-music #app-music-box .app-music-content .app-music-content-left .app-music-content_list .app-music-content_list_item .item-name {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  width: 145px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app-music #app-music-box .app-music-content .app-music-content-left .app-music-content_list .app-music-content_list_item .item-mv {
  width: 30px;
  height: 20px;
  background: url(imgs/table.png) left -45px;
}
#app-music #app-music-box .app-music-content .app-music-content-left .app-music-content_list .app-music-content_list_item:nth-child(odd) {
  background-color: rgba(224, 217, 217, 0.5);
}
#app-music #app-music-box .app-music-content .app-music-content-middle {
  height: 100%;
  width: 400px;
  border-right: 1px dashed var(--themeColor);
  position: relative;
}
#app-music #app-music-box .app-music-content .app-music-content-middle .playing {
  transform: rotate(0) !important;
}
#app-music #app-music-box .app-music-content .app-music-content-middle .player-bar {
  left: 200px;
  position: absolute;
  z-index: 8;
  transform: rotate(-25deg);
  transform-origin: 12px 12px;
  transition: all 2s;
}
#app-music #app-music-box .app-music-content .app-music-content-middle .cover {
  top: 156px;
  left: 156px;
  position: absolute;
  width: 150px;
  height: 150px;
}
#app-music #app-music-box .app-music-content .app-music-content-middle .autorotate {
  animation-name: running;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#app-music #app-music-box .app-music-content .app-music-content-middle .disc {
  position: absolute;
  left: 100px;
  top: 100px;
}
#app-music #app-music-box .app-music-content .app-music-content-right {
  width: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#app-music #app-music-box .app-music-content .app-music-content-right .app-comments-list .app-comments-list-item {
  padding: 5px;
  display: flex;
}
#app-music #app-music-box .app-music-content .app-music-content-right .app-comments-list .app-comments-list-item .item-left {
  padding: 5px;
}
#app-music #app-music-box .app-music-content .app-music-content-right .app-comments-list .app-comments-list-item .item-left img {
  width: 30px;
  border-radius: 50%;
  height: 30px;
}
#app-music #app-music-box .app-music-content .app-music-content-right .app-comments-list .app-comments-list-item .item-right .nickname {
  font-size: 16px;
}
#app-music #app-music-box .app-music-content .app-music-content-right .app-comments-list .app-comments-list-item .item-right .content {
  font-size: 12px;
  color: white;
}
#app-music #app-music-box .app-music-footer {
  height: 60px;
  width: 800px;
  background-color: #fff;
}
#app-music #app-music-box .app-music-footer audio {
  height: 100%;
  width: 100%;
}
#app-music #app-music-box .app-music-footer .app-vedio-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
#app-music #app-music-box .app-music-footer .app-vedio-box .app-mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
#app-music #app-music-box .app-music-footer .app-vedio-box .app-vedio-close {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
}
#app-music #app-music-box .app-music-footer .app-vedio-box video {
  z-index: 999;
  background-color: #fff;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
}
#app-music .loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2000;
}
#app-music .loading img {
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 3000;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
}
